# Avoid including Experiment files: they can be created and edited locally to test the ipf files
*.pxp
*.pxt
*.uxp
*.uxt
out/
out.log
out/artifacts/8_Games_jar/8.Games.jar
out/production/8.Games/com/javarush/games/moonlander/Условие.jrtc
out/production/8.Games/com/javarush/games/racer/Direction.class
out/production/8.Games/com/javarush/games/racer/PlayerCar.class
out/production/8.Games/com/javarush/games/racer/RacerGame.class
out/production/8.Games/com/javarush/games/racer/road/RoadManager.class
out/production/8.Games/com/javarush/games/racer/ShapeMatrix.class
out/production/8.Games/com/javarush/games/racer/Условие.jrtc
out/artifacts/8_Games_jar/8.Games.jar
out/production/8.Games/com/javarush/games/racer/Условие.jrtc
out/production/8.Games/com/javarush/games/racer/ShapeMatrix.class
out/production/8.Games/com/javarush/games/racer/road/RoadManager.class
out/production/8.Games/com/javarush/games/racer/RacerGame.class
out/production/8.Games/com/javarush/games/racer/PlayerCar.class
out/production/8.Games/com/javarush/games/racer/Direction.class
out/production/8.Games/com/javarush/games/moonlander/Условие.jrtc
out/artifacts/8_Games_jar/8.Games.jar
out.log
out/production/8.Games/com/javarush/games/racer/GameObject.class
out/production/8.Games/com/javarush/games/racer/road/RoadObject$1.class
out/production/8.Games/com/javarush/games/racer/road/RoadObject$1.class
out/production/8.Games/com/javarush/games/racer/road/RoadObject$1.class
out/production/8.Games/com/javarush/games/racer/ShapeMatrix.class
out/production/8.Games/com/javarush/games/racer/ShapeMatrix.class
out.log
out/artifacts/8_Games_jar/8.Games.jar
out/production/8.Games/com/javarush/games/moonlander/Условие.jrtc
out/production/8.Games/com/javarush/games/racer/Direction.class
out/production/8.Games/com/javarush/games/racer/GameObject.class
out/production/8.Games/com/javarush/games/racer/PlayerCar.class
out/production/8.Games/com/javarush/games/racer/RacerGame.class
out/production/8.Games/com/javarush/games/racer/road/RoadManager.class
out/production/8.Games/com/javarush/games/racer/road/RoadObject$1.class
out/production/8.Games/com/javarush/games/racer/road/RoadObject.class
out/production/8.Games/com/javarush/games/racer/road/RoadObjectType.class
out/production/8.Games/com/javarush/games/racer/road/Thorn.class
out/production/8.Games/com/javarush/games/racer/RoadMarking.class
out/production/8.Games/com/javarush/games/racer/ShapeMatrix.class
out/production/8.Games/com/javarush/games/racer/Условие.jrtc
